BODY {
	color			: black;
	background-color	: #ffffcc;
	font-family		: Arial;
	font-size		: 100%;
}

A:LINK {
	color			: #663300;
	background		: inherit;
	text-decoration	: none;
}

A:VISITED {
	color			: #336600;
	background		: inherit;
	text-decoration	: none;
}

A:HOVER {
	color			: #663300;
	background		: #ff9966;
	text-decoration	: underline;
}

A:ACTIVE {
	color			: #cc0088;
	background		: inherit;
	text-decoration	: underline;
}

CODE {
  font-family		: "Courier New", monospace;
  position			: static;
  left				: 12px;
  font-size			: 100%;
}

/*
P {
	position		: relative;
	left			: 6px;
	z-index			: auto;
	font-family		: Arial;
}
*/

PRE {
	position		: relative;
	left			: 12px;
}

/* apilist.cssÇ©ÇÁà⁄êA */
TABLE.hoge {
	border-style		: none none none none;
	width			: 80%;
}

TD.hoge,TH.hoge {
	padding			: 2pt;
	border-width		: 2pt;
	background		: #fc9;
	border-style		: none;
	font-style		: normal;
	font-weight		: normal;
	text-align		: left;
}
/* apilist.cssÇ©ÇÁà⁄êA */

TABLE { margin: 2pt 0; }

TH {
	width			: 30%;
}

DT {
	font-weight		: bold;
	margin-bottom		: 2pt;
}

DD {
	margin-left		: 4pt;
	font-size		: 90%;
	padding-top		: 2px;
}

UL {
	margin-left		: 5em;
}

LI {
	margin-bottom		: 1ex;
}

H3 {
	font-size		: 110%;
	font-weight		: bold;
	padding-top		: 10px;
	border-width		: 1px 0 0;
	border-color		: #000000;
	border-style		: solid none none;
}

H4 {
	font-weight		: bold;
	text-decoration		: underline;
	margin-left: 1em;
}
h5 { margin-top: 2em; margin-right: 2em; margin-bottom: 0 !important; margin-left: 2em !important; }
H1.title { font-size		: 200%; font-family: Georgia, "Times New Roman", Times, serif; font-weight		: bold; }

span.version {
	color			: #ff0000;
	background		: inherit;
	font-size		: 14pt;
	font-weight		: bold;
}

div.confidential {
	color			: #660000;
	background:		: inherit;
	font-size		: 14pt;
	font-weight		: bold;
	font-family		: Impact, monospace;
}
P { font-size: 100%; margin-right: 2em; margin-left: 2em; }
P.confidential {
	color			: #660000;
	background		: inherit;
	font-size		: 14pt;
	font-weight		: bold;
	font-family		: Impact, monospace;
}

P.note {
	color			: #000000;
	background		: inherit;
	font-size		: 8pt;
	font-family		: Impact, monospace;
}

P.caution {
	color			: inherit;
	font-weight		: bold;
	font-size		: 12pt;
	background		: #ffff00;
	width			: 100%;
	padding			: 3px;
	margin-top		: 2px;
	margin-bottom	: 2px;
}

P.copyright {
	color			: inherit;
	background		: inherit;
	font-size		: 8pt;
	font-weight		: bold;
	font-family		: monospace;
	text-align		: right;
}

P.recommend {
	color			: #cc2288;
	background		: inherit;
	font-weight		: bold;
	text-align		: right;
}

P.toc {
	color			: #cc0066;
	background		: inherit;
	font-size		: 8pt;
}
