*.sh text eol=lf
/env text eol=lf
/sdk/cw/ARM_Tools/Command_Line_Tools/mwccarm text eol=lf
/sdk/cw/ARM_Tools/Command_Line_Tools/mwasmarm text eol=lf
/tools/nnsarc/nnsarc text eol=lf
/tools/**/*.diff text eol=lf
/tools/**/*.patch text eol=lf

/src/data/*.txt text eol=crlf
src/data/*.naix text eol=crlf
