*.d
*.o
*.a

/main.lsf
/overlay_files
/overlaymap.txt
/bin/
/obj/
/src/data/*.nsbtx
/src/data/*.nsbmd
/src/data/*.nsbca
/src/data/*.nsbtp
/src/data/mmodel/*.nsbtx
/src/data/mmodel/*.nsbmd
/src/data/mmodel/*.nsbma
/src/data/mmodel/*.nsbtp
/src/data/mmodel/*.nsbca
/src/data/mmodel/*.nsbta
/src/data/mmodel/*.dat
/src/data/mmodel/*.narc
/src/data/mmodel/arc_result.txt
/src/data/mmodel/arc_result_fe.txt
/src/fielddata/script/*.bin
/src/fielddata/script/*.narc
/src/fielddata/script/arc_result.txt
/src/fielddata/script/elf2bin.exe
/src/fielddata/land_data/bin/
/src/fielddata/land_data/*.narc
/src/fielddata/land_data/arc_result.txt
/src/fielddata/land_data/land_arc_list
/src/particledata/*.narc
/src/msgdata/*.narc

/sdk/NitroSDK/cache/
/sdk/NitroSDK/build/buildsetup/fx/fx/
/sdk/NitroSDK/build/buildsetup/ioreg/nitro/
/sdk/NitroSDK/build/buildsetup/ioreg_sp/nitro/
/sdk/NitroSDK/build/buildtools/verinfo.*
/sdk/NitroSDK/build/tools/bin2obj/bin2obj.exe
/sdk/NitroSDK/build/tools/bin2obj/version.h
/sdk/NitroSDK/build/tools/makelcf/*.tab.*
/sdk/NitroSDK/build/tools/makelcf/*.yy.*
/sdk/NitroSDK/build/tools/makelcf/makelcf.exe
/sdk/NitroSDK/build/tools/makelcf/version.h
/sdk/NitroSDK/include/nitro/fx/fx_const.h
/sdk/NitroSDK/include/nitro/hw/
/sdk/NitroSDK/tools/bin/bin2obj.exe
/sdk/NitroSDK/tools/bin/makelcf.exe
/sdk/NitroWiFi/build/libraries/soc/include/errtable.h
/sdk/NitroWiFi/build/tools/certconv/certconv.exe
/sdk/NitroWiFi/tools/bin/certconv.exe

/tools/make/make
/tools/make/make.exe
/tools/make/make-3.80-1/
/tools/ruby/ruby
/tools/ruby/ruby.exe
/tools/ruby/rubyw.exe
/tools/ruby/cygruby18.dll
/tools/ruby/lib/
/tools/ruby/ruby-1.8.7-p374/

/.wineprefix/
lcf_def.txt
diff/*.txt
*.nds
*.dump
open.sh
sdk/NitroDWC/tools/PpwAdminTool/src/DpwUtilAssembly/obj/Debug/DpwUtilAssembly.csprojAssemblyReference.cache
