.wineprefix/

*.d
*.o
*.a

sdk/NitroSDK/cache/
sdk/NitroSDK/build/buildsetup/fx/fx/
sdk/NitroSDK/build/buildsetup/ioreg/nitro/
sdk/NitroSDK/build/buildsetup/ioreg_sp/nitro/
sdk/NitroSDK/build/buildtools/verinfo.*
sdk/NitroSDK/build/tools/bin2obj/bin2obj.exe
sdk/NitroSDK/build/tools/bin2obj/version.h
sdk/NitroSDK/include/nitro/fx/fx_const.h
sdk/NitroSDK/include/nitro/hw/
sdk/NitroSDK/tools/bin/bin2obj.exe

tools/make/make
tools/make/make.exe
tools/make/make-3.80-1
tools/ruby/ruby
tools/ruby/ruby.exe
tools/ruby/lib/
tools/ruby/ruby-1.8.7-p374/
