 
H1{
  color : white;
  background-color : purple;
  padding-left : 4px;
  padding-top : 2px;
}
H2{
  border-bottom-width : 2px;
  border-bottom-style : dotted;
  margin-top : 3ex;
}
TABLE{
  margin-top : 2ex;
  margin-bottom : 2ex;
}
BLOCKQUOTE{
  color : olive;
}
DT{
  color : red;
  margin-bottom : 1ex;
}
