<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NWC.RankingAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DWCRankingAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NWC.RankingAdmin.Properties.Settings>
            <setting name="useUTC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Categorys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>all</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RegionJAPAN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegionUS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegionEUROPE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Category" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="SortType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SortPriority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="PIDs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>all</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UsePublicServer" serializeAs="String">
                <value>False</value>
            </setting>
        </NWC.RankingAdmin.Properties.Settings>
        <DWCRankingAdmin.Properties.Settings>
            <setting name="useUTC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Categorys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>all</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RegionJAPAN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegionUS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegionEUROPE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Category" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="SortType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SortPriority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PID" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="PIDs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>all</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DWCRankingAdmin.Properties.Settings>
    </userSettings>
</configuration>